{% extends 'clientes/base.html' %}

{% load static %}
{% load humanize %}

{% block contents %}
<div class="row">
    <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <div class="row mb-2">
                        <div class="col-sm-12">
                              <div class="d-sm-flex align-items-center justify-content-between">
                                  <h4 class="mb-sm-0 font-size-18">Reporte cliente</h4>
                              </div>
                        </div><!-- end col-->
                  </div>

                  <div class="row">
                  <div class="col-sm-6">
                          <address>
                              <strong>Empresa emisora:</strong><br>
                              {{ informacion_empresa.nombre }}<br>
                              {{ informacion_empresa.rut }}<br>
                              {{ informacion_empresa.servicio }}<br>
                              {{ informacion_empresa.direccion }}
                          </address>
                      </div>
                      <div class="col-sm-6 text-sm-end">
                          <address class="mt-2 mt-sm-0">
                              <strong>Cliente: </strong><br>
                              {{ empresa.nombre }}<br>
                              {{ empresa.rut }}<br>
                              {{ empresa.giro }}<br>
                              {{ empresa.direccion }}<br>
                          </address>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6 mt-3">
                          <address>
                              <strong>Profesional a cargo:</strong><br>
                              {{ empresa.profesional_asignado }}<br><br>
                          </address>
                      </div>
                      <div class="col-sm-6 mt-3 text-sm-end">
                          <address>
                              <strong>Última actualización:</strong><br>
                              {{ fecha_hasta }}<br><br>
                          </address>
                      </div>
                  </div>
                  <div class="py-2 mt-3">
                      <h3 class="font-size-18 fw-bold">Servicios</h3>
                  </div>
                  <hr/>
                  <div class="py-2 mt-3">
                      <h3 class="font-size-15 fw-bold">Asesorias de emergencia</h3>
                  </div>
                  {% for servicio in servicios %}
                      {% if servicio.tipo == "ASESORIA EMERGENCIA" %}
                          <hr/>
                          <div class="row card-body mt-3">
                              <p><b>Asesoría de emergencia ID:</b> {{ servicio.id }}</p>
                              <p><b>Realizado en:</b> {{ servicio.realizado_en }}</p>
                              <p><b>Realizado por:</b> {{ servicio.profesional }}</p>
                              <p><b>Motivo:</b> {{ servicio.motivo }}</p>
                              <p><b>Contenido:</b> {{ servicio.contenido }}</p>
                              {% for accidente in servicio.evento_set.all %}
                              <p><b>Fecha accidente:</b> {{ accidente.fecha }}</p>
                              <p><b>Descripción accidente:</b> {{ accidente.contenido }}</p>
                              {% endfor %}
                          </div>
                      {% endif %}
                  {% endfor %}
                  <hr/>
                  <div class="py-2 mt-3">
                      <h3 class="font-size-15 fw-bold">Asesorias de fiscalización</h3>
                  </div>
                  {% for servicio in servicios %}
                      {% if servicio.tipo == "ASESORIA FISCALIZACION" %}
                          <hr/>
                          <div class="row card-body mt-3">
                              <p><b>Asesoría por fiscalización ID:</b> {{ servicio.id }}</p>
                              <p><b>Realizado en:</b> {{ servicio.realizado_en }}</p>
                              <p><b>Realizado por:</b> {{ servicio.profesional }}</p>
                              <p><b>Motivo:</b> {{ servicio.motivo }}</p>
                              <p><b>Contenido:</b> {{ servicio.contenido }}</p>
                              {% for multa in servicio.evento_set.all %}
                              <p><b>Fecha multa:</b> {{ multa.fecha }}</p>
                              <p><b>Descripción multa:</b> {{ multa.contenido }}</p>
                              {% endfor %}
                          </div>
                      {% endif %}
                  {% endfor %}




                  <hr/>
                  <div class="py-2 mt-3">
                      <h3 class="font-size-15 fw-bold">Capacitaciones</h3>
                  </div>
                  {% for servicio in servicios %}
                      {% if servicio.tipo == "CAPACITACION" %}
                      <hr/>
                      <div class="row card-body mt-3">
                          <p><b>CAPACITACION ID:</b> {{ servicio.id }}</p>
                          <p><b>Realizado en:</b> {{ servicio.realizado_en }}</p>
                          <p><b>Realizado por:</b> {{ servicio.profesional }}</p>
                          <p><b>Motivo:</b> {{ servicio.motivo }}</p>
                          <p><b>Contenido:</b> {{ servicio.contenido }}</p>
                          <p><b>Número de participantes:</b> {{ servicio.num_participantes }}</p>

                         <div class="table-responsive">
                              <table class="table table-nowrap">
                                  <thead>
                                      <tr>
                                          <th>Nombre</th>
                                          <th>Email</th>
                                          <th>Rut</th>
                                          <th class="text-end">Asiste</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for participante in servicio.participante_set.all %}
                                      <tr>
                                          <td>{{ participante.nombre }}</td>
                                          <td>{{ participante.email }}</td>
                                          <td>{{ participante.rut }}</td>
                                          <td class="text-end">{% if participante.asiste %}SI {% else %} NO {% endif %}</td>
                                      </tr>
                                     {% endfor %}
                                  </tbody>
                              </table>
                         </div>
                      </div>
                      {% endif %}
                  {% endfor %}



                  <hr/>
                  <div class="py-2 mt-3">
                      <h3 class="font-size-15 fw-bold">Visitas</h3>
                  </div>
                  {% for servicio in servicios %}
                      {% if servicio.tipo == "VISITA" %}
                          <hr/>
                          <div class="row card-body mt-3">
                              <p><b>Visita ID:</b> {{ servicio.id }}</p>
                              <p><b>Realizado en:</b> {{ servicio.realizado_en }}</p>
                              <p><b>Realizado por:</b> {{ servicio.profesional }}</p>
                              <p><b>Motivo:</b> {{ servicio.motivo }}</p>
                              <p><b>Contenido:</b> {{ servicio.contenido }}</p>
                          </div>
                      {% endif %}
                  {% endfor %}



                  <hr/>
                  <div class="py-2 mt-3">
                      <h3 class="font-size-15 fw-bold">Llamadas</h3>
                  </div>
                  {% for servicio in servicios %}
                      {% if servicio.tipo == "LLAMADA" %}
                          <hr/>
                          <div class="row card-body mt-3">
                              <p><b>Llamada ID:</b> {{ servicio.id }}</p>
                              <p><b>Realizado en:</b> {{ servicio.realizado_en }}</p>
                              <p><b>Realizado por:</b> {{ servicio.profesional }}</p>
                              <p><b>Duración:</b> {{ servicio.duracion }}</p>
                          </div>
                      {% endif %}
                  {% endfor %}

                  <hr/>
                  <div class="py-2 mt-3">
                      <h3 class="font-size-15 fw-bold">Resumen de costos</h3>
                  </div>
                  {% for factura_mensual in facturas_mensuales %}
                  <div class="row card-body mt-3">
                      <div class="py-2 mt-3">
                          <h3 class="font-size-15 fw-bold">Mes {{ factura_mensual.expiracion|date:"F" }}</h3>
                      </div>
                      <div class="table-responsive">
                          <table class="table table-nowrap">
                              <thead>
                                  <tr>
                                      <th>Item</th>
                                      <th>Precio</th>
                                      <th>Cantidad</th>
                                      <th class="text-end">Precio total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>Costo base mensual</td>
                                      <td>${{ factura_mensual.contrato.valor_base|intcomma }}</td>
                                      <td>1</td>
                                      <td class="text-end">${{ factura_mensual.contrato.valor_base|intcomma }}</td>
                                  </tr>
                                  <tr>
                                      <td>Capacitaciones extra</td>
                                      <td>${{ factura_mensual.contrato.valor_capacitacion_extra|intcomma }}</td>
                                      <td>{{ factura_mensual.num_capacitaciones_extra }}</td>
                                      <td class="text-end">${{ factura_mensual.valor_capacitaciones_extra|intcomma }}</td>
                                  </tr>
                                  <tr>
                                      <td>Visitas extra</td>
                                      <td>${{ factura_mensual.contrato.valor_visita_extra|intcomma }}</td>
                                      <td>{{ factura_mensual.num_visitas_extra }}</td>
                                      <td class="text-end">${{ factura_mensual.valor_visitas_extra|intcomma }}</td>
                                  </tr>
                                  <tr>
                                      <td>Asesorias extra</td>
                                      <td>${{ factura_mensual.contrato.valor_asesoria_extra|intcomma }}</td>
                                      <td>{{ factura_mensual.num_asesorias_extra }}</td>
                                      <td class="text-end">${{ factura_mensual.valor_asesorias_extra|intcomma }}</td>
                                  </tr>
                                  <tr>
                                      <td>Llamadas fuera de horario</td>
                                      <td>${{ factura_mensual.contrato.valor_llamada_fuera_horario|intcomma }}</td>
                                      <td>{{ factura_mensual.num_llamadas_fuera_horario }}</td>
                                      <td class="text-end">${{ factura_mensual.valor_llamadas_fuera_horario|intcomma }}</td>
                                  </tr>
                                  <tr>
                                      <td>Modificaciones checklist extra</td>
                                      <td>${{ factura_mensual.contrato.valor_modificacion_checklist_extra|intcomma }}</td>
                                      <td>{{ factura_mensual.num_modificaciones_checklist_extra }}</td>
                                      <td class="text-end">${{ factura_mensual.valor_modificaciones_checklist_extra|intcomma }}</td>
                                  </tr>
                                  <tr>
                                      <td>Modificaciones reporte extra</td>
                                      <td>${{ factura_mensual.contrato.valor_modificacion_reporte_extra|intcomma }}</td>
                                      <td>{{ factura_mensual.num_modificaciones_reporte_extra }}</td>
                                      <td class="text-end">${{ factura_mensual.valor_modificaciones_reporte_extra|intcomma }}</td>
                                  </tr>


                                  <tr>
                                      <td colspan="3" class="border-0 text-end">
                                          <strong>Total</strong></td>
                                      <td class="border-0 text-end"><h4 class="m-0">${{ factura_mensual.total|intcomma }}</h4></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  {% endfor %}
                  <div class="row mt-5">
                    --
                  </div>
                  <div class="d-print-none">
                      <div class="float-end">
                          <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light me-1"><i class="fa fa-print"></i></a>
                      </div>
                  </div>
            </div>
      </div>
    </div>
</div>
{% endblock %}
