{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Actualiza tu contraseña{% endblock title %}
{% block innercontent %}

<div class="my-auto">
    <div>
        <h5 class="text-primary">{% if token_fail %}TOKEN INCORRECTO{% else %}Cambia tu contraseña{% endif %}</h5>
        <p class="text-muted">Actualiza tu contraseña</p>
    </div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>El link visitado es inválido. Por favor solicita uno nuevo en <a href="{{ passwd_reset_url }}">acá</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" name="action" value="Cambiar contraseña"/>
            </form>
        {% else %}
            <p>Tu contraseña fue actualizada.</p>
        {% endif %}
    {% endif %}
</div>

{% endblock innercontent %}
