{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Correo electrónico enviado{% endblock title %}
{% block innercontent %}

<div class="my-auto">
    <div>
        <h5 class="text-primary">Correo electrónico enviado</h5>
        <p class="text-muted">Sigue los pasos en tu correo electrónico para restablecer tu contraseña</p>
    </div>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>Te hemos enviado un correo electrónico con los pasos para restablecer tu contraseña.</p>
    <p>Recuerda revisar tu carpeta de spam.</p>
</div>

{% endblock innercontent %}
